*General CSS or Default*/
body {
	background-color: white;
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	font-family: 'Sofia', cursive;
}

nav {
	background-color: #226764;
	color: white;
	margin-bottom: 0px;
	
	

}

nav #nav-list {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

nav ul li {
    padding: 16px;
    text-align: center;

    transition: background-color 0.5s ease;
}

nav ul li:hover {
	background-color: black;
}

a {
	text-decoration: none;
	color: blue;
}


#main {

	background: linear-gradient(to top,rgba(0, 255, 225, -10), rgba(236, 47, 75, 1)), url(TP1.jpg);
	min-height: 500px;
	margin-bottom: 0px;
	background-size: cover;
	padding-top: 200px;
	text-align: center;
	display: flex;
	flex-direction: column;;
	justify-content: center;
	align-items: center;
	color: white;
	margin-bottom: 100px;
}
#main h1 {
	margin-top: 10px;
	text-align: center;
	font-size: 2.5rem;


}

#main p{
	width: 80%;
	text-align: center;

}

#testimonials{
	display: flex  ;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	margin-bottom: 50px;

}

.customer{
	text-align: center;
        border: 2px solid black;
        border-radius: 100px;
        margin-right: 20px;
        box-shadow: 0px 0px 5px;
        margin: 30px;
        transition: transform 0.3s;

}
.customer:hover{
	box-shadow: 0px 0px 25px;
	
}

#showcase{
	display:flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}
.cards{
	max-width: 350px;
	display:flex;
	flex-direction: column;
	margin: 10px;
	box-shadow: 0px 0px 5px;

}
.cards .card-img{
	height: 100px;
	overflow:hidden;


}
.cards .card-img{
	height: : 100%;
	min-width: 100px;
	background-color: black;

}

.cards:hover{

	box-shadow: 0px 0px 25px blue;
}
.cards .card-desc{
	padding: 10px;
	margin-bottom: 20px;
}

.cards .card-title{

	padding: 10px;

}
.cards .button {
	margin: 10px;
}

.cards .button a{
	padding:10px;
	color: black;
	background-color: violet;

}
footer{
	background-color: cadetblue;
	display: flex;
	align-items: center;
	justify-content: space-around;

}

footer a{
	padding: 20px;
    
}

#media-icons ul{
	display:inline-flex;
	list-style-type: none;
	padding: 20px;

}
/*for responsive web design*/
@media screen and (min-width: 700px){
	nav ul {
		text-align: right;
	}
	nav ul li {
		display: inline-block;

		text-align: left;
	}




}